<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762727701986-qeoukj5sacee2k7700pg54dsm6d68l9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762727701986-qeoukj5sacee2k7700pg54dsm6d68l9h</string>
	<key>API_KEY</key>
	<string>AIzaSyBY_0N-eUMUJv7bsaP4E4qZjJTmBOt39Nw</string>
	<key>GCM_SENDER_ID</key>
	<string>762727701986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helpMe</string>
	<key>PROJECT_ID</key>
	<string>prefer-f2fad</string>
	<key>STORAGE_BUCKET</key>
	<string>prefer-f2fad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762727701986:ios:e2cdb0d0c0daad7a6bedbb</string>
</dict>
</plist>